.content-1 {
  gap: 60px;
}

.logo {
  gap: 3px;
}

.product {
  letter-spacing: -0.41px;
}

.token {
  letter-spacing: -0.41px;
}

.investments {
  letter-spacing: -0.41px;
}

.validators {
  letter-spacing: -0.41px;
}

.white_paper {
  letter-spacing: -0.41px;
}

.text {
  letter-spacing: -0.41px;
}

.text-1 {
  letter-spacing: -0.41px;
}

.heading {
  gap: 120px;
}

.get_started_in_just_a_few_minutes_ {
  letter-spacing: -0.5px;
}

.section {
  gap: 60px;
}

.cards {
  gap: 30px;
}

.frame_48095918 {
  gap: 60px;
}

.about_gnt_network_ {
  letter-spacing: -0.5px;
}

.money_management_made_a_breeze__keep_a_close_eye_on_spending_with_smart_insights_and_intuitive_features__money_management_made_a_breeze__keep_a_close_eye_on_spending {
  letter-spacing: -0.32px;
}

.more_about_gnt {
  letter-spacing: -0.32px;
}

.frame_48095918-1 {
  gap: 60px;
}

.about_gnt_network_-1 {
  letter-spacing: -0.5px;
}

.money_management_made_a_breeze__keep_a_close_eye_on_spending_with_smart_insights_and_intuitive_features__money_management_made_a_breeze__keep_a_close_eye_on_spending-1 {
  letter-spacing: -0.32px;
}

.more_about_gnt-1 {
  letter-spacing: -0.32px;
}

.frame_48095918-2 {
  gap: 60px;
}

.about_gnt_network_-2 {
  letter-spacing: -0.5px;
}

.money_management_made_a_breeze__keep_a_close_eye_on_spending_with_smart_insights_and_intuitive_features__money_management_made_a_breeze__keep_a_close_eye_on_spending-2 {
  letter-spacing: -0.32px;
}

.more_about_gnt-2 {
  letter-spacing: -0.32px;
}

.frame_48095918-3 {
  gap: 60px;
}

.about_gnt_network_-3 {
  letter-spacing: -0.5px;
}

.money_management_made_a_breeze__keep_a_close_eye_on_spending_with_smart_insights_and_intuitive_features__money_management_made_a_breeze__keep_a_close_eye_on_spending-3 {
  letter-spacing: -0.32px;
}

.more_about_gnt-3 {
  letter-spacing: -0.32px;
}

.group-1 {
  transform: rotate(-90deg);
}

.big_section {
  gap: 100px;
}

.section-1 {
  gap: 30px;
}

.rectangle_781 {
  transform: rotate(-0.461deg);
  filter: blur(100px);
}

.investing {
  letter-spacing: -0.24px;
}

.invest_with_positive_impact {
  letter-spacing: -0.5px;
}

.money_management_made_a_breeze__keep_a_close_eye_on_spending_with_smart_insights_and_intuitive_features__money_management_made_a_breeze__keep_a_close_eye_on_spending_with_smart_insights_and_intuitive_features_ {
  letter-spacing: -0.32px;
}

.get_started {
  letter-spacing: -0.41px;
}

.changing_the_way_money_moves_ {
  letter-spacing: -0.5px;
}

.frame_blur {
  backdrop-filter: blur(2px);
}

.frame_86 {
  flex: 1 0 0;
}

.frame_86-1 {
  flex: 1 0 0;
}

.segmented_control_-_tabs {
  flex: 1 0 0;
}

.segmented_control_-_tabs-1 {
  flex: 1 0 0;
}

.segmented_control_-_tabs-2 {
  flex: 1 0 0;
}

.milestone_section {
  gap: 60px;
}

.line {
  gap: 30px;
}

.june_2019 {
  flex: 1 0 0;
}

.milestone_1 {
  letter-spacing: -0.5px;
}

.march_2020 {
  flex: 1 0 0;
}

.milestone_2 {
  letter-spacing: -0.5px;
}

.june_2021 {
  flex: 1 0 0;
}

.milestone_3 {
  letter-spacing: -0.5px;
}

.june_2022 {
  flex: 1 0 0;
}

.milestone_4 {
  letter-spacing: -0.5px;
}

.roadmaps_ {
  letter-spacing: -0.5px;
}

.text-13 {
  letter-spacing: -0.41px;
}

.logo-2 {
  gap: 3px;
}

.get_our_newsletter {
  letter-spacing: -0.5px;
}

.enter_your_email {
  letter-spacing: -0.32px;
}

.vector_1 {
  fill: #43e8b3;
}
